* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 11pt;
  line-height: 20pt;
}

h1 {
  text-align: center;
  font-size: 13pt;
}

p {
  margin-top: 10px;
}

.p2 {
  text-align: center;
}

table {
  width: 450px;
  margin: auto;
  margin-top: 10px;
  text-align: left;
}

td {
  border-bottom: 3px dotted royalblue;
  border-left: 3px dotted royalblue;
  border-collapse: collapse;
  padding: 5px;
}

th {
  border-left: 30px dotted hotpink;
  line-height: 25px;
  font-weight: bold;
  color: orangered;
}

li {
  margin-left: 0px;
}

img {
  width: 300px;
  display : block;
margin: auto
}

footer {
  font-size: 9pt;
  margin: 10px;
  text-align: center;
}

a href {
  background-color: orangered;
}

.right {
  text-align: right;
  border-left: none;

}


.click:hover {
  background-color: orangered;
  color: antiquewhite;
}


@media screen and (max-width: 704px) {

}


